<div class="row">
  <div class="clearfix"></div>
  <!-- dropdown example -->




  <div class="panel panel-info">
              <div class="panel-heading">Wedding Decoration</div>
              <div class="panel-body">
                  <h3>About Wedding Decoration</h3>
            <div class="row">
              <div class="clearfix"></div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
            </div>  

            <div class="row">
              <div class="clearfix"></div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="../../../assets/img/36.275.jpg" alt="...">
                      </a>
                    </div>
             
          </div>
                  <!--div class="text">
                    The art of sushi making takes years to master but we'll get you up and running by the end of the evening, so that you can recreate the fun at home! We'll teach you the basics of making a delicious make and tempi rolls, that looks great and tastes even better. Experiment with your own combination of flavors to create a delicious roll. We'll also introduce you to the gentle art of dumpling folding and instruct you on a variety of ways to prepare them for your next dinner date. Bring your own drinks and come have fun in the kitchen with us! *This workshop does not use raw fish; instead we use veggies, crabmeat sticks and more
                  </div-->
              </div>
  </div>

</div>